/* Toast css */

@font-face {
    font-family: 'Roboto';
    src: url('https://fonts.googleapis.com/css?family=Roboto:400');
}

#toastContainer {
	box-sizing: border-box;
	overflow: hidden;
	position:absolute;
	bottom:0px;
	left:0px;
	width:100%;
	height: 50px;
	z-index: 2;
	font-size: 17px;
	font-family: 'Roboto', sans-serif;
}

#toastContainer * {
	box-sizing: inherit
}

.toast {
	background-color: #323232;
	color: white;
	padding: 15px 25px;
	height: 50px;
	width: 100%;
	position: absolute;
	right: 0px;
	bottom: -50px;
	animation-name: showToast;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}

.toast > span {
	float: left;
	overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis;
    width: calc(100% - 66px);

}

@keyframes showToast {
    0% {bottom: -50px;}
    100% {bottom: 0px;}
}

@keyframes hideToast {
    0% {bottom: 0px;}
    100% {bottom: -50px;}
}

.undo {
    float: right;
    background-color: unset;
    color: #F64336;
    border: none;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
}

.undo:hover {
	text-decoration: underline;
}